<h5>Filters</h5>
<h5>Location</h5>
<ul type="none">
  <li><input type="checkbox" value="Mumbai" /> Mumbai</li>
  <li><input type="checkbox" value="Pune" /> Pune</li>
  <li><input type="checkbox" value="Delhi" /> Delhi</li>
  <li><input type="checkbox" value="Goa" /> Goa</li>
  <li><input type="checkbox" value="Chennai" /> Chennai</li>
</ul>
<h5>Price</h5>
<ul type="none">
  <li><input type="checkbox" value="veryHigh" /> Above 2500</li>
  <li><input type="checkbox" value="high" /> 2000 - 2500</li>
  <li><input type="checkbox" value="normal" /> 1500 - 2000</li>
  <li><input type="checkbox" value="less" /> 1000 - 1500</li>
  <li><input type="checkbox" value="veryless" /> below 1000</li>
</ul>
<h5>Ratings</h5>
<ul type="none">
  <li><input type="checkbox" value="Mumbai" /> 5 star</li>
  <li><input type="checkbox" value="Pune" /> 4 star</li>
  <li><input type="checkbox" value="Delhi" /> 3 star</li>
  <li><input type="checkbox" value="Goa" /> 2 star</li>
  <li><input type="checkbox" value="Chennai" /> 1 star</li>
</ul>
