.navbar {
    background-color: #1e2176 !important;
  }
  
  a {
    color: white !important;
  }
  
  .dropbtn {
    background-color: #1e2176 !important;
    color: white;
    border: none;
    margin-right: 160px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content a {
    color: black !important;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #1e2176a4;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  