<app-navbar-before></app-navbar-before>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BMS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/delhi55.jpg"
              alt="Pune"
              width="1500"
              height="500"
            />
            <div class="carousel-caption">
              <h3 style="color: cornsilk">Pune</h3>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/h1.jpg"
              alt="New Delhi"
              width="1500"
              height="500"
            />
            <div class="carousel-caption">
              <h3>Delhi</h3>
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/h2.jpg"
              alt="Goa"
              width="1500"
              height="500"
            />
            <div class="carousel-caption">
              <h3>Goa</h3>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

      <!-- </div> -->
      <br />
      <div
        style="
          text-align: center;
          background-color: #0eb550;
          color: white;
          height: 40px;
          display: flex;
          justify-content: center;
          align-self: center;
          flex: 1;
        "
      >
        <h2>Book Hotels at Popular Destinations</h2>
      </div>
      <br />
      <div class="container-fluid">
        <div class="row">
          <div class="card-deck" style="padding-left: 40px">
            <div class="card" style="width: 200px; padding-left: 20px">
              <img
                class="card-img-top"
                src="../../assets/delhi.jpg"
                alt="Card image"
                style="width: 100%; height: 50%"
              />
              <div class="card-body">
                <h4 class="card-title">Delhi</h4>
                <p class="card-text">Capital of India</p>
                <p class="card-text">Starting From ₹700</p>
              </div>
            </div>

            <div class="card-deck">
              <div class="card" style="width: 200px">
                <img
                  class="card-img-top"
                  src="../../assets/mumbai.jpg"
                  alt="Card image"
                  style="width: 100%; height: 50%"
                />
                <div class="card-body">
                  <h4 class="card-title">Mumbai</h4>
                  <p class="card-text">Finance Capital</p>
                  <p class="card-text">Starting From ₹800</p>
                </div>
              </div>

              <div class="card-deck">
                <div class="card" style="width: 200px">
                  <img
                    class="card-img-top"
                    src="../../assets/pune.jpg"
                    alt="Card image"
                    style="width: 100%; height: 50%"
                  />
                  <div class="card-body">
                    <h4 class="card-title">Pune</h4>
                    <p class="card-text">Oxford Of India</p>
                    <p class="card-text">Starting From ₹7000</p>
                  </div>
                </div>
                <div class="card-deck">
                  <div class="card" style="width: 200px">
                    <img
                      class="card-img-top"
                      src="../../assets/lko.jpg"
                      alt="Card image"
                      style="width: 100%; height: 50%"
                    />
                    <div class="card-body">
                      <h4 class="card-title">Lucknow</h4>
                      <p class="card-text">City Of Nawabs</p>
                      <p class="card-text">Starting From ₹2500</p>
                    </div>
                  </div>

                  <div class="card-deck">
                    <div class="card" style="width: 200px">
                      <img
                        class="card-img-top"
                        src="../../assets/BHOPAL.jpg"
                        alt="Card image"
                        style="width: 100%; height: 50%"
                      />
                      <div class="card-body">
                        <h4 class="card-title">Bhopal</h4>
                        <p class="card-text">City Of Lakes</p>
                        <p class="card-text">Starting From ₹1200</p>
                      </div>
                    </div>

                    <div class="card-deck">
                      <div class="card" style="width: 200px">
                        <img
                          class="card-img-top"
                          src="../../assets/JAIPUR.jpg"
                          alt="Card image"
                          style="width: 100%; height: 50%"
                        />
                        <div class="card-body">
                          <h4 class="card-title">Jaipur</h4>
                          <p class="card-text">Pink City</p>
                          <p class="card-text">Starting From ₹3500</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="container-fluid">
        <h2 style="text-align: center; background-color: #0eb550; color: white">
          Cheapest Deals on Budget & Luxury Hotels are Available Here!
        </h2>
        <br />
        <p>
          <b
            ><em>
              We are the fastest growing budget hotel brand in India with over
              10,000+ rooms in 600+ hotels across 50+ cities in India. All our
              rooms and hotel properties are spacious, stylish, and
              contemporary, and are fitted with all modern amenities so that you
              have a relaxed and consistent travel experience. Because we
              believe in going the extra mile to ensure you have a delightful
              stay at the best-price, wherever you go. Most of our hotel
              properties are located close to business hubs or popular tourist
              sites and easily accessible by public transport, so you don’t have
              to waste time or money in traveling to your place of business.
              With <b>HMS</b> Hotels, you will #StayFab, always!
            </em></b
          >
        </p>
      </div>
      <br />
      <br />

      <div>
        <h2 style="text-align: center; background-color: #0eb550; color: white">
          Why Book Hotels with HMS.com?
        </h2>
      </div>
      <br />
      <br />
      <div class="row" style="padding-left: 50px">
        <div class="card-deck">
          <div class="card" style="width: 300px; height: 300">
            <img
              class="card-img-top"
              src="../../assets/extensv.jpg"
              alt="Card image"
              style="width: 100%; height: 50%"
            />
            <div class="card-body">
              <h5 class="card-title">Extensive Hotel Option</h5>
              <p class="card-text">
                <em
                  >Best hotels available for different destinations to offer you
                  a stay of life time.</em
                >
              </p>
            </div>
          </div>
          <div class="card" style="width: 300px; height: 300">
            <img
              class="card-img-top"
              src="../../assets/serve.jpg"
              alt="Card image"
              style="width: 100%; height: 50%"
            />
            <div class="card-body">
              <h5 class="card-title">Serving On Hotel Booking</h5>
              <p class="card-text">
                <em
                  >Enjoy hotel booking with best offers and discount and make
                  your stay unforgettable</em
                >
              </p>
            </div>
          </div>
          <div class="card" style="width: 300px; height: 300">
            <img
              class="card-img-top"
              src="../../assets/deals.jpg"
              alt="Card image"
              style="width: 100%; height: 50%"
            />
            <div class="card-body">
              <h5 class="card-title">Great Deals On Travel</h5>
              <p class="card-text">
                <em
                  >Also frab attractive offers on holiday packages, flight and
                  other travel products</em
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <br />
        <br />
        <br />
        <h2 style="text-align: center; background-color: #0eb550; color: white">
          FAQs
        </h2>
      </div>
      <br /><br />

      <!--Accordion wrapper-->
      <div
        class="accordion md-accordion"
        id="accordionEx"
        role="tablist"
        aria-multiselectable="true"
      >
        <!-- Accordion card -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header" role="tab" id="headingOne1">
            <a
              class="collapsed"
              data-toggle="collapse"
              data-parent="#accordionEx"
              href="#collapseOne1"
              aria-expanded="false"
              aria-controls="collapseOne1"
            >
              <h5 class="mb-0">
                What are the valid ID proofs that I should carry ?
              </h5>
            </a>
          </div>

          <!-- Card body -->
          <div
            id="collapseOne1"
            class="collapse"
            role="tabpanel"
            aria-labelledby="headingOne1"
            data-parent="#accordionEx"
          >
            <div class="card-body">
              You need to carry a valid government issued address ID proof with
              photo and address not in the same city as the hotel. Some of the
              valid id proofs are: Voter ID Card, Valid Passport, Aadhar Card
              issued by government of India, Permanent Driving License. PAN
              Cards are NOT Valid as ID Proofs
            </div>
          </div>
        </div>
        <!-- Accordion card -->

        <!-- Accordion card -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header" role="tab" id="headingTwo2">
            <a
              class="collapsed"
              data-toggle="collapse"
              data-parent="#accordionEx"
              href="#collapseTwo2"
              aria-expanded="false"
              aria-controls="collapseTwo2"
            >
              <h5 class="mb-0">
                What are the standard check-in and check-out timings?
              </h5>
            </a>
          </div>

          <!-- Card body -->
          <div
            id="collapseTwo2"
            class="collapse"
            role="tabpanel"
            aria-labelledby="headingTwo2"
            data-parent="#accordionEx"
          >
            <div class="card-body">
              Our standard check-in time is 12 noon and check-out time is 11 am.
              However some properties may have different check-in and check-out
              schedule. You can view the same in the"House Rules" section in the
              Hotel listing page on website and just above the check-in and
              check-out dates in the Hotel listing page on the app. Early
              check-in and late check-out both are subject to room availability
              at the hotel.
            </div>
          </div>
        </div>
        <!-- Accordion card -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header" role="tab" id="headingThree3">
            <a
              class="collapsed"
              data-toggle="collapse"
              data-parent="#accordionEx"
              href="#collapseThree3"
              aria-expanded="false"
              aria-controls="collapseThree3"
            >
              <h5 class="mb-0">
                I am a hotel owner, how can I partner with FabHotels?
              </h5>
            </a>
          </div>

          <!-- Card body -->
          <div
            id="collapseThree3"
            class="collapse"
            role="tabpanel"
            aria-labelledby="headingThree3"
            data-parent="#accordionEx"
          >
            <div class="card-body">
              Simply drop us a mail at partners@hmshotel.com .
            </div>
          </div>
        </div>
        <!-- Accordion card -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header" role="tab" id="headingThree4">
            <a
              class="collapsed"
              data-toggle="collapse"
              data-parent="#accordionEx"
              href="#collapseThree4"
              aria-expanded="false"
              aria-controls="collapseThree4"
            >
              <h5 class="mb-0">
                What happens if I do not cancel my reservation and do not turn
                up at FabHotels on the arrival date?
              </h5>
            </a>
          </div>

          <!-- Card body -->
          <div
            id="collapseThree4"
            class="collapse"
            role="tabpanel"
            aria-labelledby="headingThree4"
            data-parent="#accordionEx"
          >
            <div class="card-body">
              Such a case is termed as No Show. In case of no show: Entire
              booking cost will be charged as cancellation fee.
            </div>
          </div>
        </div>
        <!-- Accordion card -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header" role="tab" id="headingThree5">
            <a
              class="collapsed"
              data-toggle="collapse"
              data-parent="#accordionEx"
              href="#collapseThree5"
              aria-expanded="false"
              aria-controls="collapseThree5"
            >
              <h5 class="mb-0">Do I get parking space in FabHotels?</h5>
            </a>
          </div>

          <!-- Card body -->
          <div
            id="collapseThree5"
            class="collapse"
            role="tabpanel"
            aria-labelledby="headingThree5"
            data-parent="#accordionEx"
          >
            <div class="card-body">
              Parking may be available at some of our hotels. For information
              about a specific hotel, please check the hotel information page
              for exact details.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
