<h1>Payment Details</h1>
<div class="row box">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>userId</th>
          <th>userName</th>
          <th>paymentId</th>
          <th>transactionId</th>
          <th>amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of allPaymentData">
          <td>{{ payment.bookingId.userId.userId }}</td>
          <td>{{ payment.bookingId.userId.userName }}</td>
          <td>{{ payment.paymentId }}</td>
          <td>{{ payment.transactionId.transactionId }}</td>
          <td>{{ payment.transactionId.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
