<section class="container-fluid main">
  <app-brand-navbar></app-brand-navbar>
  <form
    class="box"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
  >
    <i
      class="fa fa-user-o"
      style="font-size: 80px; text-align: center; color: rgb(28, 0, 54)"
    ></i>
    <h1>Admin Login</h1>
    <pre></pre>
    <div *ngIf="errMessage.length != 0" class="alert alert-danger">
      Email or password is incorrect
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="email">Admin Name</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
        placeholder="Enter your Name"
        [(ngModel)]="masterData.email"
        #email="ngModel"
        required
        [ngClass]="{
          'is-invalid': email.invalid && (email.dirty || email.touched)
        }"
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="invalid-feedback"
      >
        <div *ngIf="email.errors?.required">Admin Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
        [(ngModel)]="masterData.password"
        #pwd="ngModel"
        required
        password
        minlength="8"
        [ngClass]="{
          'is-invalid': pwd.invalid && (pwd.dirty || pwd.touched)
        }"
      />
      <div
        *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)"
        class="invalid-feedback"
      >
        <div *ngIf="pwd.errors?.required">Password is required.</div>
        <div *ngIf="pwd.errors?.minlength">Enter Valid Password.</div>
      </div>
    </div>
    <pre></pre>

    <button type="submit" class="btn" [disabled]="!f.valid">Login</button>
  </form>
</section>
