<div class="container">
  <form>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="hotelName">Hotel Name:</label>
        <input
          type="text"
          class="form-control"
          id="hotelName"
          name="hotelName"
          [(ngModel)]="roomData.hotelId.hotelName"
          disabled
        />
      </div>

      <div class="form-group col-sm-12 col-lg-6">
        <label for="roomNo">Room Id:</label>
        <input
          type="text"
          class="form-control"
          id="roomNo"
          name="roomNo"
          [(ngModel)]="bookingData.roomId.roomId"
          disabled
        />
      </div>

      <div class="form-group col-sm-12 col-lg-6">
        <label for="roomType">Room Type:</label>
        <input
          type="text"
          class="form-control"
          id="roomType"
          name="roomType"
          [(ngModel)]="roomData.roomType"
          disabled
        />
      </div>

      <div class="form-group col-sm-12 col-lg-6">
        <label for="bookedFrom">Booked From</label>
        <input
          type="text"
          class="form-control"
          id="bookedFrom"
          name="bookedFrom"
          [(ngModel)]="bookingData.bookedFrom"
          disabled
        />
      </div>

      <div class="form-group col-sm-12 col-lg-6">
        <label for="bookedTo">Booked To</label>
        <input
          type="text"
          class="form-control"
          id="bookedTo"
          name="bookedTo"
          [(ngModel)]="bookingData.bookedTo"
          disabled
        />
      </div>
      
      <div class="form-group col-sm-12 col-lg-6">
        <label for="adults">No. of Adults</label>
        <input
          type="text"
          class="form-control"
          id="adults"
          name="adults"
          [(ngModel)]="bookingData.noOfAdults"
          disabled
        />
      </div>

      <div class="form-group col-sm-12 col-lg-6">
        <label for="children">No. of Children</label>
        <input
          type="text"
          class="form-control"
          id="children"
          name="children"
          [(ngModel)]="bookingData.noOfChildren"
          disabled
        />
      </div>

      <div class="form-group col-sm-12 col-lg-12">
        <label for="amount">Amount</label>
        <input
          type="number"
          class="form-control"
          id="amount"
          name="amount"
          [(ngModel)]="bookingData.amount"
          disabled
        />
      </div>
    </div>
  </form>
</div>
